<div ng-controller="InvestorCtrl">
  <%= form_for(@investor) do |f| %>
  <% if @investor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@investor.errors.count, "error") %> prohibited this investor from being saved:</h2>

    <ul>
      <% @investor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :houses do |builder| %>

  <%= builder.label :address %>
  <%= builder.text_field :address %>
  
  <%= builder.label :suburb %>
  <%= builder.text_field :suburb %>
  
  <%= builder.label :cost %>
  <%= builder.text_field :cost %>
  
  <%= builder.label :value %>
  <%= builder.text_field :value %>
  
  <% end %>
  
  <div class="field">
    <%= f.label :total_cost %><br />
    <%= f.number_field :total_cost, "ng-model" => "total_cost" %>
  </div>
  <div class="field">
    <%= f.label :total_value %><br />
    <%= f.number_field :total_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
