<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @investor.name %>
</p>

<p>
  <b>Total cost:</b>
  <%= @investor.total_cost %>
</p>

<p>
  <b>Total value:</b>
  <%= @investor.total_value %>
</p>


<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
